.icon {
    width: 64px;
    height: 64px;
    padding:3px;
    margin: 2px;
    background:#000;
}

.mainBody{
      width: fit-content;
      width: 100%;
    overflow: auto;
    max-height: 640px;
    font-size: large;
    justify-items: flex-end;
    margin-top: 20px;
    padding-left: 6vw;
    padding-right: 5vw;
}

.unselectedIcon {
    width:64px;
    height: 64px;
    filter: grayscale(100%);
    padding:3px;
    margin: 2px;
    
    background:#000;
}

.languagesSection{
    width: 80%; 
    justify-self: flex-end;
    background:#222;

    margin-right: 3vw;
    border-radius: 25px;
    
    padding-bottom: 20px;
}

.Iconbar{
    margin-right: 3vw;
    display: flex;
    padding-top: 10px;
    overflow-x: auto;
    justify-self: end;
    max-width: 90%;
}

@media (max-width: 768px) {
    .languagesSection{ 
        width: 100%;
        }
    }
