.card{
    border-radius: 20px;
    background-color: #222;
    width: 45vw;
    height: 300px;
    justify-items: center;
    align-content: center;
    margin:10px;
    text-align: center;
}
.cards{
    display:flex; 
    margin-bottom: 85px;
}


@media (max-width: 768px) {
    .card{
        
        height: auto;
        width: 80vw;
    }
    .cards{
        display:grid; 
        justify-items: center;
    }
    .bottomText {
        font-size: 0.8em;
    }
}