@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-primary: 'Roboto Mono';
    --font-size-base: 16px;
    --font-weight-bold: 700;
    --primary-Color:#FFFFFF;
    --primary-accent:#007BFF;
    --primary-background: #181818;
  }
  

body{
    scroll-behavior: smooth;
    color: var(--primary-Color);
    background:var(--primary-background);
    font-family: var(--font-primary);
  }